@font-face {
    font-family: Vazir-Medium;
    src: url("./font/Vazir-Medium.ttf");
}

body {
    font-family: Vazir-Medium;
}
/* =================img header============== */
.main-blog {
    background-color: #f2f2f2;
    border-radius: 15px;
}
.img-fluid{
    width: 90% !important;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-header {
    margin: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 8px #bbbbbb;
}

.main-title {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
}

.main-title-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.blog-date-main {
    margin-right: auto;
    font-size: 20px;
  
}
.main-title-two h1{
    margin-left: auto;
     color: #faa21d;
     text-align: right;
}

.main-title p {
    text-align: center;
    padding: 30px;
}

.star-one {
    display: flex;
    flex-direction: column;
}

.comment-ratingg i {
    color: #FAD56B;
    margin-right: 3px;
    font-size: 25px;
}

.suggestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.suggestion h1 {
    padding: 20px;
}

.blog {
    background-color: #f2f2f2;
}

.blog h1 {
    display: flex;
    justify-content: center;
    padding: 10px 0 15px 0;
}

.blog-1 {
    background-color: white;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 0px 7px 0px #bbbbbb;
    margin: 20px;
}

.blog-1 p {
    color: #a7a4aa;
    text-align: right;
}

.blog-img {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 8px #bbbbbb;
}

.star {
    display: flex;
    flex-direction: row !important;

}

.comment-rating i {
    color: #FAD56B;
    margin-right: 3px;
}

.blog-date {
    margin-right: auto;
    color: #b0b0b0;
}

.btn-more {
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    background-color: #faa31d;
    color: white;
    margin-right: auto;
}

.btn-more:hover {
    border: 2px dashed #faa31d;
    background-color: white;
    color: black;
}

.visit {
    display: flex;
    flex-direction: row;
}

.visit-number {
    margin-left: auto;
    padding-top: 10px;
    color: #b0b0b0;
}

.main-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.comment {
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 8px #bbbbbb;
    background-color: white;
    display: flex;
    flex-direction: row;
    /* padding: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment p {
    text-align: right;
    padding: 0 30px;
    margin-bottom: 0;
}

.comment h5 {
    text-align: right;
    padding: 30px;
    margin-left: auto;
    padding-bottom: 0;
}

.comment-rating-footer {
    color: #FAD56B;
}

.comment-person {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 20px;
}

.comment-header {
    display: flex;
    flex-direction: row;
}

.comment-header-one {
    margin-left: 25px;
    margin-top: 35px;
}

.comment-date-time {
    color: #b0b0b0;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.comment-date {
    padding-left: 15px;
}

.commented {
    height: auto;
    background-color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 8px #bbbbbb;
    /* margin: 40px; */
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}
.comment h3{
    padding: 20px;
    color: #faa21d;
}

.input-comment {
    width: 35%;
    height: auto;
}

.text-comment {
    width: 50%;
    height: auto;
    margin: 20px 0;
}

.btn-comment {
    border: none;
    border-radius: 15px;
    width: 30%;
    height: auto;
    background-color: #faa31d;
    color: white;
}

.btn-comment:hover {
    border: 2px dashed #faa31d;
    background-color: #f2f2f2;
    color: black;
}

.comment-rating-end {
    color: #FAD56B;
    font-size: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
}